page-about {
    
        .kufi{font-family: 'Droid Arabic Kufi', serif;
           
        }   
        .kufii{font-family: 'Droid Arabic Kufi', serif;
            font-size:12px;
            }  
            .bord{
        border: solid  1px #1abc9c;
        padding: 1px;
        padding-right: 10px;

            }
}
