page-sginUp {

    .kufi{font-family: 'Droid Arabic Kufi', serif; 
        font-size: 13.7px;
        text-align: center;
        color: #2980b9;
      }

      .kufii{font-family: 'Droid Arabic Kufi', serif;
             font-size: 10px;
             }      



    .pad{
        padding-left: 7%;
        padding-right: 7%;
    }
    .bot{
        padding-left:50px; 
        padding-right:50px;
      }
    
}
