page-pay {
    .kufi{font-family: 'Droid Arabic Kufi', serif;
        font-size: 20px;
        color: #f4f4f4 ;
        }   
        .kufii{font-family: 'Droid Arabic Kufi', serif;
            font-size: 13px;
            }  
            
           .bor{
               border:  solid 1px ;
               border-spacing: 30%;
               padding: 10px;
               padding-right: 10px;
               border-color: #5ed4cc;
               

            }
}

