page-log-in {

    .droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif; 
    font-size: 13.7px;}

    .d{
        padding: 5%;
        margin: 5%;
     
    }
    .kufi{font-family: 'Droid Arabic Kufi', serif; 
        font-size: 13.7px;   color : #ff7877;}
    
      .bot{
        padding-left:50px; 
        padding-right:50px;
      }
    

}
